<%= render 'layouts/navbar'%>

<script type="text/javascript">
	document.getElementById('dashboard_navbar').classList.add('active');
	document.getElementById('question_papers_navbar').classList.remove('active');	
	document.getElementById('profile_navbar').classList.remove('active');	
</script>


<%= render 'home/dashboard/dashboard_left_pane_partial'%>

<div id="home_page_right_pane_partial_id">
	<%= render 'home/dashboard/dashboard_right_pane_home'%>
</div>


<style type="text/css">
	html {
	  background: url(/assets/world.jpg) no-repeat center center fixed;
	  background-size: cover;
	  height: 100%;
	  overflow: hidden;
	}
	body{
		background-color: rgba(0,0,0,0);
	}
</style>