<%= render 'layouts/navbar'%>

<script type="text/javascript">
	document.getElementById('dashboard_navbar').classList.add('active');
	document.getElementById('question_papers_navbar').classList.remove('active');	
</script>

<h1>This the dashboard page</h1>
<h5>We can see the interaction between various roles</h5>

