<%= render 'layouts/navbar'%>

<script type="text/javascript">
	document.getElementById('dashboard_navbar').classList.remove('active');
	document.getElementById('question_papers_navbar').classList.remove('active');	
</script>

<div class="left_pane">

    <div class="list-group left_pane_questions">
      <li class="list-group-item bg-dark text-white"><%=truncate(@questionpaper.name, length: 20) %>
      	<span class="badge bg-primary rounded-pill" style="float: right;">14</span>
      </li>
      <a class="list-group-item list-group-item-action active" >Home</a>
      <a class="list-group-item list-group-item-action">Profile</a>
      <a class="list-group-item list-group-item-action" >Messages</a>
      <a class="list-group-item list-group-item-action" >Settings</a>

      <li class="list-group-item list-group-item-warning mb-5">Add a new question</li>
    </div>

    <div>
    	<button type="button" class="btn btn-success left_pane_submit_button">Generate question paper</button>
    </div>

</div>
