<%= render 'layouts/navbar'%>

<script type="text/javascript">
	document.getElementById('dashboard_navbar').classList.remove('active');
	document.getElementById('question_papers_navbar').classList.add('active');	
</script>

<div class="container">
	<h1>Question paper page</h1>

	<%= render 'home/question_paper/modal_for_creating_question_paper'%>
	<div id="list_of_question_papers">
		<%= render 'home/question_paper/list_of_question_papers'%>		
	</div>
	
	
</div>

