<%= render 'layouts/navbar'%>

<script type="text/javascript">
	document.getElementById('dashboard_navbar').classList.remove('active');
	document.getElementById('question_papers_navbar').classList.remove('active');	
	document.getElementById('profile_navbar').classList.add('active');	
</script>

<%= render 'settings/profile_page/profile_page_left_pane'%>

<div id="profile_page_right_pane_partail_id">
	<%= render 'settings/profile_page/profile_page_right_pane_profile_details'%>
</div>



<style type="text/css">
	html {
	  background: url(/assets/world.jpg) no-repeat center center fixed;
	  background-size: cover;
	  height: 100%;
	  overflow: hidden;
	}
	body{
		background-color: rgba(0,0,0,0);
	}
</style>