<% custom_current_user_id = current_user.id %>
<% custom_current_user = User.find(custom_current_user_id)%>

<div class="text-center">
	<%= image_tag('background_image.jpg', size: "150", class: 'rounded_image_profile_pic')%>
</div>

<div class="text-center">
	<div class="user_info ">
		<% user_name = current_user.first_name.to_s + " "+current_user.last_name.to_s%>
		<h6><%= truncate(user_name, length: 25)%></h6>
		<em>Teacher at</em>
		<br>
		<em><%= truncate(School.find(current_user.school_id).name, length: 25) %></em>
	</div>
</div>