<% if question_id != 0 %>
	<div class="right_pane">
		<div class="row">
			<div class="col-7 ">
				<%= question_id %>
			</div>
			<div class="col-5 ">

			</div>
		</div>

		<div class="row">
			<div class="col-7">

			</div>
			<div class="col-5">

			</div>
		</div>	
	</div>
<% end %>
